body{
    text-align: center;
    background: rgb(6,7,240);
background: linear-gradient(90deg, rgba(6,7,240,1) 30%, rgba(7,238,30,1) 50%, rgba(14,14,14,1) 70%);
}
  #family_img{
      width: 298px;
  }
  button{
      font-size: 25px;
      background-color: plum;
      border-radius: 20%;
      color: black;
  }
  h1{
      font-size: 40px;
      color: brown;
      text-decoration: underline;
  }
  h3{
      font-size: 30px;
      color: lightseagreen;
      font-weight: bold;
      text-decoration: underline;
  }